<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wind Turbine Efficiency</title>
</head>
<body>
    <h1>Wind Turbine Efficiency</h1>
    <div align="center">
        <table>
            <h1>
                {% for i in tables %}
                <h2>{{titles[loop.index]}}</h2>
                {{i | safe}}
                {% endfor %}
            </h1>
        </table>
    </div>
</body>
</html>